<% include ./partials/header %>
<div class="container">
    <h1 class="font-violet">Sign Up</h1>

    <form action="/register" method="POST">
        <input class="sign-button placeholder-violet border-violet font-violet" type="text" name="username" placeholder="username">
        <input class="sign-button placeholder-violet border-violet font-violet" type="password" name="password" placeholder="password"></br>
        <button class="btn btn-yellow margin-top-2">Sign Up</button>
    </form>
</div>    

<% include ./partials/footer %>